ul {
  margin: 0;
  height: 4rem;
  background-color: rgb(236, 247, 248);;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

li {
  position: relative;
  height: 100%;
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

li:hover {
  opacity: 0.75;
  cursor: pointer;
}

li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background: rgb(58, 118, 126);
  transition: width 0.2s ease-in-out;
}

li:hover::after {
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.activeLink {
  font-weight: 600;
}

.activeLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: rgb(58, 118, 126);
}

.infoMessage {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20vw;
  background: white;
  border-radius: 1rem 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}